html {
  background: rgb(220, 240, 245);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
  font-family: 'Oswald', sans-serif;}

main {
  border-bottom: 1px solid #777777;
  font-size: 21px;
  flex: 1;
}


li {
  list-style: none;
}

header, footer {
  background: black;

}

footer, header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #5CAABC;
  height: 50px;
}

header ul {
  justify-content: flex-end;
}


nav li, footer li{
  margin: 0px 30px;
}

a {
  color: #5CAABC;
  text-decoration: none;
}

a:hover {
  color: gray;
}

nav ul, footer ul{
  display: flex;
  flex-direction: row;
}

#portrait{
  width: 500px;
}

.grid, .profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.grid li {
  background: #FFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

#recent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

 h3 {
  text-transform: uppercase;
font-size: 25px;
}

.grid img, .profile img {
  width:200px;
}

#name {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
  box-shadow: 0px 1px 0px 1px #5CAABC;
border-top: 1px solid #5CAABC;
  background:#25527A;
color: #5CAABC;
font-size: 20px;

}

#logo {
  justify-content: flex-start;
  height: 100%;
  border: 1px solid #5CAABC;
  border-bottom: 2px solid #25527A;
border-top: none;
  position: relative;
  z-index: initial;
}