html {
  background: lightgray;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
}

main {
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
  font-size: 21px;
  flex: 1;
}


li {
  list-style: none;
}

header, footer {
  background: black;

}

footer, header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}

nav li, footer li{
  margin: 0px 30px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: gray;
}

nav ul, footer ul{
  display: flex;
  flex-direction: row;
}

#portrait{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 500px;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.projects li {
  margin: 0 0 1.5em 0;
  background: #FFF;
  padding: 5% 5% 0 5%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

#recent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.projects img {
  width:200px;
}

#portrait img {
  width:500px;
}